@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Default to Theme 1 */
  --color-main-bg: oklch(0.31 0.04 254);
  --color-toggle-bg: oklch(0.24 0.04 254);
  --color-screen-bg: oklch(0.2 0.05 254);

  --color-key-del-bg: oklch(0.5 0.06 254);
  --color-key-del-shadow: oklch(0.38 0.06 254);

  --color-key-eq-bg: oklch(0.55 0.18 25);
  --color-key-eq-shadow: oklch(0.38 0.18 25);

  --color-key-num-bg: oklch(0.9 0.02 60);
  --color-key-num-shadow: oklch(0.7 0.02 60);

  --color-text-primary: oklch(0.4 0.02 254);
  --color-text-white: oklch(1 0 0);
  --color-text-display: oklch(1 0 0);
}

[data-theme="2"] {
  --color-main-bg: oklch(0.92 0 0);
  --color-toggle-bg: oklch(0.84 0.005 0);
  --color-screen-bg: oklch(0.94 0 0);

  --color-key-del-bg: oklch(0.46 0.08 205);
  --color-key-del-shadow: oklch(0.35 0.09 205);

  --color-key-eq-bg: oklch(0.55 0.16 45);
  --color-key-eq-shadow: oklch(0.43 0.16 45);

  --color-key-num-bg: oklch(0.9 0.01 75);
  --color-key-num-shadow: oklch(0.67 0.02 65);

  --color-text-primary: oklch(0.3 0.01 85);
  --color-text-white: oklch(1 0 0);
  --color-text-display: oklch(0.3 0.01 85);
}

[data-theme="3"] {
  --color-main-bg: oklch(0.2 0.12 295);
  --color-toggle-bg: oklch(0.23 0.12 295);
  --color-screen-bg: oklch(0.23 0.12 295);

  --color-key-del-bg: oklch(0.39 0.16 310);
  --color-key-del-shadow: oklch(0.62 0.2 310);

  --color-key-eq-bg: oklch(0.7 0.16 195);
  --color-key-eq-shadow: oklch(0.82 0.12 195);

  --color-key-num-bg: oklch(0.35 0.09 295);
  --color-key-num-shadow: oklch(0.62 0.14 305);

  --color-text-primary: oklch(0.85 0.15 85);
  --color-text-white: oklch(1 0 0);
  --color-text-display: oklch(0.85 0.15 95);
  --color-text-eq: oklch(0.28 0.03 215);
}

body {
  font-family: var(--font-display);
  background-color: var(--color-main-bg);
  color: var(--color-text-display);
  transition:
    background-color 0.3s,
    color 0.3s;
}
