@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-league-spartan: var(--font-league-spartan);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* Continue (1/11/2026) */
:root {
  /* Default to Theme 1 */
  --color-main-bg: oklch(0.31 0.04 254);
  --color-toggle-bg: oklch(0.24 0.04 254);
  --color-screen-bg: oklch(0.2 0.05 254);

  --color-key-del-bg: oklch(0.5 0.06 254);
  --color-key-del-shadow: oklch(0.38 0.06 254);

  --color-key-eq-bg: oklch(0.55 0.18 25);
  --color-key-eq-shadow: oklch(0.38 0.18 25);

  --color-key-num-bg: oklch(0.9 0.02 60);
  --color-key-num-shadow: oklch(0.7 0.02 60);

  --color-text-primary: oklch(0.4 0.02 254);
  --color-text-white: oklch(1 0 0);
  --color-text-display: oklch(1 0 0);
}

[data-theme="2"] {
  --color-main-bg: oklch(0.92 0 0);
  --color-toggle-bg: oklch(0.84 0.005 0);
  --color-screen-bg: oklch(0.94 0 0);

  --color-key-del-bg: oklch(0.46 0.08 205);
  --color-key-del-shadow: oklch(0.35 0.09 205);

  --color-key-eq-bg: oklch(0.55 0.16 45);
  --color-key-eq-shadow: oklch(0.43 0.16 45);

  --color-key-num-bg: oklch(0.9 0.01 75);
  --color-key-num-shadow: oklch(0.67 0.02 65);

  --color-text-primary: oklch(0.3 0.01 85);
  --color-text-white: oklch(1 0 0);
  --color-text-display: oklch(0.3 0.01 85);
}

[data-theme="3"] {
  --color-main-bg: oklch(0.2 0.12 295);
  --color-toggle-bg: oklch(0.23 0.12 295);
  --color-screen-bg: oklch(0.23 0.12 295);

  --color-key-del-bg: oklch(0.39 0.16 310);
  --color-key-del-shadow: oklch(0.62 0.2 310);

  --color-key-eq-bg: oklch(0.7 0.16 195);
  --color-key-eq-shadow: oklch(0.82 0.12 195);

  --color-key-num-bg: oklch(0.35 0.09 295);
  --color-key-num-shadow: oklch(0.5 0.14 305);

  --color-text-primary: oklch(0.3 0.01 85);
  --color-text-white: oklch(1 0 0);
  --color-text-display: oklch(0.85 0.15 95);
  --color-text-eq: oklch(0.28 0.03 215);
}

body {
  font-family: var(--font-display);
  background-color: var(--color-main-bg);
  color: var(--color-text-display);
  transition:
    background-color 0.3s,
    color 0.3s;
}
